//Adjust to your needs
$transition: 0.25s all ease-in-out;
$dark_blue: #004057;
$light_blue-90: #18ACE0;
$light_blue-80: #3ABFEE;
$light_blue-70: #6FD8FD;
$light_blue-20: #E8F9FF;
$green-20: #E9FFEE;
$green-70: #01AD27;
$green-120: #0A8754;
$hover-color: $light_blue-90;
$color-red: #BB4430;

